<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Scanner Name</key>
	<string>KONICA MINOLTA bizhub 3000MF</string>
	<key>Scanner Properties</key>
	<dict>
		<key>functionalUnitProperties</key>
		<array>
			<dict>
				<key>unitNumber</key>
				<integer>0</integer>
				<key>unitProperties</key>
				<dict>
					<key>CAP_AUTOFEED</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>0</integer>
					</dict>
					<key>CAP_FEEDERENABLED</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>0</integer>
					</dict>
					<key>functionalUnits</key>
					<dict>
						<key>availableFunctionalUnitTypes</key>
						<array>
							<integer>0</integer>
							<integer>3</integer>
						</array>
						<key>selectedFunctionalUnitType</key>
						<integer>0</integer>
					</dict>
					<key>ICAP_BITDEPTH</key>
					<dict>
						<key>current</key>
						<integer>0</integer>
						<key>default</key>
						<integer>0</integer>
						<key>type</key>
						<string>TWON_ENUMERATION</string>
						<key>value</key>
						<array>
							<integer>8</integer>
						</array>
					</dict>
					<key>ICAP_PHYSICALHEIGHT</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>7087</integer>
					</dict>
					<key>ICAP_PHYSICALWIDTH</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>5100</integer>
					</dict>
					<key>ICAP_PIXELTYPE</key>
					<dict>
						<key>current</key>
						<integer>0</integer>
						<key>default</key>
						<integer>0</integer>
						<key>type</key>
						<string>TWON_ENUMERATION</string>
						<key>value</key>
						<array>
							<integer>1</integer>
						</array>
					</dict>
					<key>ICAP_UNITS</key>
					<dict>
						<key>current</key>
						<integer>2</integer>
						<key>default</key>
						<integer>2</integer>
						<key>type</key>
						<string>TWON_ENUMERATION</string>
						<key>value</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>2</integer>
						</array>
					</dict>
					<key>ICAP_XNATIVERESOLUTION</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>600</integer>
					</dict>
					<key>ICAP_XRESOLUTION</key>
					<dict>
						<key>current</key>
						<integer>3</integer>
						<key>default</key>
						<integer>3</integer>
						<key>type</key>
						<string>TWON_ENUMERATION</string>
						<key>value</key>
						<array>
							<integer>75</integer>
							<integer>100</integer>
							<integer>150</integer>
							<integer>200</integer>
							<integer>300</integer>
							<integer>600</integer>
						</array>
					</dict>
					<key>ICAP_YNATIVERESOLUTION</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>600</integer>
					</dict>
					<key>ICAP_YRESOLUTION</key>
					<dict>
						<key>current</key>
						<integer>3</integer>
						<key>default</key>
						<integer>3</integer>
						<key>type</key>
						<string>TWON_ENUMERATION</string>
						<key>value</key>
						<array>
							<integer>75</integer>
							<integer>100</integer>
							<integer>150</integer>
							<integer>200</integer>
							<integer>300</integer>
							<integer>600</integer>
						</array>
					</dict>
					<key>supportsProgressNotificationsWithScanData</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>unitNumber</key>
				<integer>3</integer>
				<key>unitProperties</key>
				<dict>
					<key>CAP_AUTOFEED</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>CAP_FEEDERENABLED</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>functionalUnits</key>
					<dict>
						<key>availableFunctionalUnitTypes</key>
						<array>
							<integer>0</integer>
							<integer>3</integer>
						</array>
						<key>selectedFunctionalUnitType</key>
						<integer>3</integer>
					</dict>
					<key>ICAP_BITDEPTH</key>
					<dict>
						<key>current</key>
						<integer>0</integer>
						<key>default</key>
						<integer>0</integer>
						<key>type</key>
						<string>TWON_ENUMERATION</string>
						<key>value</key>
						<array>
							<integer>8</integer>
						</array>
					</dict>
					<key>ICAP_PHYSICALHEIGHT</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>7087</integer>
					</dict>
					<key>ICAP_PHYSICALWIDTH</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>5100</integer>
					</dict>
					<key>ICAP_PIXELTYPE</key>
					<dict>
						<key>current</key>
						<integer>0</integer>
						<key>default</key>
						<integer>0</integer>
						<key>type</key>
						<string>TWON_ENUMERATION</string>
						<key>value</key>
						<array>
							<integer>1</integer>
						</array>
					</dict>
					<key>ICAP_UNITS</key>
					<dict>
						<key>current</key>
						<integer>2</integer>
						<key>default</key>
						<integer>2</integer>
						<key>type</key>
						<string>TWON_ENUMERATION</string>
						<key>value</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>2</integer>
						</array>
					</dict>
					<key>ICAP_XNATIVERESOLUTION</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>600</integer>
					</dict>
					<key>ICAP_XRESOLUTION</key>
					<dict>
						<key>current</key>
						<integer>3</integer>
						<key>default</key>
						<integer>3</integer>
						<key>type</key>
						<string>TWON_ENUMERATION</string>
						<key>value</key>
						<array>
							<integer>75</integer>
							<integer>100</integer>
							<integer>150</integer>
							<integer>200</integer>
							<integer>300</integer>
							<integer>600</integer>
						</array>
					</dict>
					<key>ICAP_YNATIVERESOLUTION</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>600</integer>
					</dict>
					<key>ICAP_YRESOLUTION</key>
					<dict>
						<key>current</key>
						<integer>3</integer>
						<key>default</key>
						<integer>3</integer>
						<key>type</key>
						<string>TWON_ENUMERATION</string>
						<key>value</key>
						<array>
							<integer>75</integer>
							<integer>100</integer>
							<integer>150</integer>
							<integer>200</integer>
							<integer>300</integer>
							<integer>600</integer>
						</array>
					</dict>
					<key>supportsProgressNotificationsWithScanData</key>
					<integer>1</integer>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
